<div class="row">
  <div class="col-md col-lg">
    <nb-card>
      <nb-card-header>
        إرفاق الملفات
      </nb-card-header>
      <nb-card-body>
        
      </nb-card-body>
      <nb-card-footer>
        <a href="https://akveo.github.io/eva-icons/?utm_campaign=eva_icons%20-%20home%20-%20ngx_admin%20code%20embed&utm_source=ngx_admin&utm_medium=embedded&utm_content=icons_eva_icons_card" target="_blank">See all Eva Icons</a>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md col-lg" *ngIf="false">
    <nb-card>
      <nb-card-header>
        إرفاق الملفات
      </nb-card-header>
      <nb-card-body>
        
      </nb-card-body>
      <nb-card-footer>
        <a href="https://akveo.github.io/eva-icons/?utm_campaign=eva_icons%20-%20home%20-%20ngx_admin%20code%20embed&utm_source=ngx_admin&utm_medium=embedded&utm_content=icons_eva_icons_card" target="_blank">See all Eva Icons</a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header>
        إرفاق الملفات
      </nb-card-header>
      <nb-card-body>
        
      </nb-card-body>
      <nb-card-footer>
        
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header>

      </nb-card-header>
      <nb-card-body>

      </nb-card-body>
      <nb-card-footer>

      </nb-card-footer>
    </nb-card>

    <nb-card>
      <nb-card-header>
        
      </nb-card-header>
      <nb-card-body>
        
      </nb-card-body>
      <nb-card-footer>
        
      </nb-card-footer>
    </nb-card>

  </div>
</div>
