<div class="container-fluid container-wrapper" dir="rtl">


  <div class="row" style="padding-bottom: 100px;">
    <div class="col d-flex align-items-center justify-content-center">
      <h1 class="title">الإدارة المركزية لوحدات الذاكرة المحمولة (SHS)</h1>
    </div>
  </div>

  <div class="card-format">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">

      <div class="container">

        <div class="row d-flex align-items-center justify-content-center" style="padding-bottom: 30px;">
          <h1>تسجيل الدخول</h1>
        </div>

        <div class="row">

          <mat-form-field appearance="outline">
            <mat-label>اسم المستخدم</mat-label>
            <input matInput cdkFocusInitial ngModel required name="username" #usernameInput="ngModel">
            <mat-error *ngIf="usernameInput.invalid">الرجاء كتابة اسم المستخدم في الحقل</mat-error>
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field appearance="outline">
            <mat-label>كلمة المرور</mat-label>
            <input matInput ngModel required name="password" #passwordInput="ngModel" [type]="isPasswordHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="isPasswordHide = !isPasswordHide">{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="passwordInput.invalid">الرجاء كتابة كلمة المرور في الحقل</mat-error>
          </mat-form-field>

        </div>

        <div class="row">
          <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">دخول</button>
        </div>

      </div>

    </form>
  </div>
</div>
